
// :root{
//     $margin:100px;
//     --background:#e2e2f5;
//     --perspective: 1800px;
//     --transition:transform 1s 2s,z-index 0s 0.5s;
//     --yellow:#ffce14;
// }
#clickRever{
    padding: 15px 0;
    position: relative;
    background: var(--background);
    width: 100%;
    height: 100vh;
    overflow: hidden;
    .pages{
        width: calc(100% - #{$margin});
        height: calc(100% - #{$margin});
        position: absolute;
        left: 50%;
        top: 50%;
        box-shadow: 0 40px 38px -20px #0a3150;
        -webkit-transform:translate(-50%,-50%);
                transform: translate(-50%,-50%);
        -webkit-perspective: $perspective;
                perspective: $perspective;
        // 公共样式
        .pages_inverse{
            transform: rotateY(180deg)
        }
        .pages_upTime{
            transform: rotateY(0deg)
        }
        .pages_page{
            width: 50%;
            height: 100%;
            pointer-events: none; //指针事件(穿透父层，影响同级的绝对定位)
            position: absolute;
            transform-style: preserve-3d;
            -webkit-transform-style: preserve-3d;
            transform-origin: 0 50%;
            .pages_page_inner{
                background: url("~@/assets/img/fashion/cfs-models-003-683x1024.jpg");
                background-size: 1400px !important;
                height: 100%;
                transform-style: preserve-3d;
                -webkit-transform-style: preserve-3d;
                .logo{
                    font-size: 20px;
                    padding: 33px 30px;
                    line-height: 0;
                    color: $yellow;
                }
                .pagenumber{
                    position: absolute;
                    bottom: 20px;
                    left: 34px;
                    width: 400px;
                    color: $yellow;
                    letter-spacing: 60px;
                    &::after{
                        height: 1px;
                        width: 100px;
                        background: $yellow;
                        content:'';
                        display: block;
                        position: absolute;
                        left: 20px;
                        top: 19px;
                    }
                }
                .content{
                    transform-style: preserve-3d;
                    z-index: 1;
                    position: absolute;
                    top: 0;
                    transform: translateZ(0px);
                    width: 100%;
                    height: 100%;
                    .content_center{
                        position: absolute;
                        text-align: center;
                        width: 260px;
                        right: -130px;
                        padding-bottom: 10px;
                        top: 50%;
                        transform: translateY(-50%);
                        h4{
                            font-size: 38px;
                            font-weight: normal;
                            line-height: 38px;
                            border-top: 1px solid;
                            border-bottom: 1px solid;
                            padding: 15px 20px 29px; 

                        }
                    }
                }
                .next{
                    left: auto;
                    right: 30px;
                    &::before{
                        left: auto;
                        right: -33px;
                    }
                    &::after{
                        transform: rotate(180deg);
                        top: 5px;
                        left: 11px;
                        pointer-events: none;
                    }
                }
                .control{
                    position: absolute;
                    z-index: 1;
                    width: 30px;
                    height: 30px;
                    border: 1px solid $yellow;
                    border-radius: 100px;
                    top: 50%;
                    transform: translateY(-50%);
                    cursor: pointer;
                    transition: all .2s;
                    box-shadow: 0 0 0 0px #bf9726;
                    &::before{
                        content: '';
                        position: absolute;
                        display: block;
                        width: 32px;
                        height: 1px;
                        background: $yellow;
                        top: 50%;
                        transform: translateY(-50%);
                        left: 30px;
                        transition: all .2s;
                    }
                    &::after{
                        content: '\f104';
                        display: block;
                        font-weight: normal;
                        color: $yellow;
                        position: absolute;
                        left: 10px;
                        top: 50%;
                        transform: translateY(-50%);
                        transition: all .2s;
                    }
                    &:hover{
                        box-shadow: 0 0 0 10px rgba(191, 151, 38, .3);
                        right: 34px;
                    }
                    label{
                        z-index: 2;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        cursor: pointer;

                    }
                }
            }
            // 第一页样式
            &:nth-of-type(1){
                left: 0;
                transform: rotateY(0deg);
                .pages_page_inner{
                    background: url("~@/assets/img/fashion/Arielle16-01_51088-3.jpg") center 880px !important;
                    .content_center{
                        clip-path: polygon(0 0,50% 0,50% 100%,0100%);
                        h4{
                            color: $yellow;
                        } 
                    }
                }
            }
            // 第二页样式
            &:nth-of-type(2){
                right: 0;
                pointer-events: all;
                z-index: 2;
                // transform: $transition;
                transform: rotateY(0deg);
                .overlay{
                    background: rgba(255, 155, 0, 0.5);
                    position: fixed;
                    width:100%;
                    height: 100%;
                    pointer-events: none;
                    z-index: -1;
                }
                .pages_page_inner{
                    background: url("~@/assets/img/fashion/CJ19-02_40732-1.jpg") center 870px;
                    .right{
                        right: auto;
                        left: -130px;
                        clip-path: polygon(50% 0,100% 0,100% 100%,50% 100%);
                    }
                    .content_center{
                        padding-bottom: 10px;
                        h4{
                          color: black;
                          z-index: 3;  
                        }
                    }
                }
            }
        }
    }
}