#bookReversal{
    width: 100%;
    height: 500px;
    position: relative;
    perspective: 1000px;
    .preserve-3d{
        -webkit-transform-style: preserve-3d;
        -moz-transform-style:preserve-3d;
        -ms-transform-style:preserve-3d;
        transform-style: preserve-3d;
    }
    .book{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 300px;
        height: 300px;
        transform: rotateX(30deg) translate(-50%,-50%);
        .book-page-box{
            -webkit-transform-origin: 0 50%;
            -moz-transform-origin: 0 50%;
            -ms-transform-origin: 0 50%;
            -o-transform-origin: 0 50%;
            transform-origin: 0  50%;
            -webkit-transform: rotateY(0deg);
            -moz-transform: rotateY(0deg);
            -ms-transform: rotateY(0deg);
            -o-transform: rotateY(0deg);
            transform: rotateY(0deg);
            .book-page{
                position: absolute;
                top:0;
                left: 0;
                width: 300px;
                height: 300px;
                border: 1px solid #1976D2;
                text-align: center;
    
            }
        }
        .book-page-1{
            .page-front{
                background-color: #1976D2;
                p{
                    font-size: 30px;
                    color: #fff;
                    margin-top: 100px;
                }
            }
        }
        .book-page-2,.book-page-3{
            .page-back,.page-front{
                background: #fff;
                p{
                    font-size: 30px;
                    color: #1976D2;
                    margin-top: 100px;
                }
            }
        }
        .book-page-4{
            .page-front{
                p{
                    font-size: 30px;
                    color: #1976D2;
                    margin-top: 100px;
                }
            }
        }
        .flip-animation-1{
            animation: flipBook1 17s;
            -moz-animation: flipBook1 17s;
            -webkit-animation: flipBook1 17s;
            -ms-zoom-animation: flipBook1 17s;
            -o-animation: 17s;
        }
        .flip-animation-2{
            animation: flipBook2 13s 2s;
            -moz-animation: flipBook2 13s 2s;
            -webkit-animation: flipBook2 13s 2s;
            -ms-zoom-animation: flipBook2 13s 2s;
            -o-animation: flipBook2 13s 2s;
        }
        .flip-animation-3{
            animation: flipBook3 10s 3s;
            -moz-animation: flipBook3 10s 3s;
            -webkit-animation: flipBook3 10s 3s;
            -ms-zoom-animation: flipBook3 10s 3s;
            -o-animation: flipBook3 10s 3s;
        }
    }
}
@keyframes flipBook1{
    0%{
        -webkit-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
    50%{
        -webkit-transform: rotateY(-160deg);
        -ms-transform: rotateY(-160deg);
        -o-transform: rotateY(-160deg);
        transform: rotateY(-160deg);
    }
    100%{
        -webkit-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
}
@keyframes flipBook2{
    0%{
        -webkit-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
    50%{
        -webkit-transform: rotateY(-150deg);
        -ms-transform: rotateY(-150deg);
        -o-transform: rotateY(-150deg);
        transform: rotateY(-150deg);
    }
    100%{
        -webkit-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
}
@keyframes flipBook3{
    0%{
        -webkit-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
    50%{
        -webkit-transform: rotateY(-140deg);
        -ms-transform: rotateY(-140deg);
        -o-transform: rotateY(-140deg);
        transform: rotateY(-140deg);
    }
    100%{
        -webkit-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
}